{
        padding: 0;
        margin: 0;
}
body {
        margin: 0px;
        background: #555;
        font-family: "Ubuntu", sans-serif;
        background: url(back1.png);
}

#copyButton{
        background: #1f324c;
        font-weight: bold;
        width: 13%;
        text-decoration: none;
        color: #fff;
        padding: 5px;
        border-radius: 7px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        margin: 3px auto;
        cursor: pointer;
}

#copyTarget {
    width: 1px; 
    opacity: 0;
}
#footer{padding-bottom: 0px; width: 100%}
#footer p{color: white; margin-bottom: 0px}

#logo {
    width: 120px;
    padding-top: 20px;
}

#termin label{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#welcome {
    text-transform: uppercase; 
    color:##1f324c;
}

#termin{
        text-align:left;
        line-height: 22px;
        letter-spacing: 1px;
        margin:5px;
        padding:10px ;
        background-color:#444;
        color:#fff;
        border:1px solid #444 ;
        border-radius:1px;
}

#container {
        padding: 30px;
        background: rgba(255,255,255,0.3);
        width: 70%;
        margin: 20px auto;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
        border-radius: 9px;

}

#container h1 {
        text-align: center;
}

#download_source {
    padding-bottom: 20px
}

#download_source a {
        display: block;
        background: #1f324c;
        font-weight: bold;
        width: 30%;
        text-decoration: none;
        color: #fff;
        padding: 15px;
        border-radius: 7px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        text-align: center;
        transition: background 0.2s;
        margin: 10px auto;
}

#download_source a:hover {
        background: #1f3855;
}
#instructions {
        width: 60%;
        padding: 10px;
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
        border: #444;
        background: #eee;
        text-align:left !important;
}
#instructions ul {
        list-style: none;
}
.command{{
        text-align:left;
        margin:5px;
        padding:10px ;
        background-color:#444;
        color:#fff;
        border:1px solid #444 ; 
        border-radius:1px;
} 